.modalbackground{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:99 ;
    opacity: 0.8;
    background-color: black;
}

.modelcontainer{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}